/* Var -------------------------------------------------------------------------------------*/
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196F3;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #F5F4FA;
	--footer-bg-color: #2F303A;
}
/* Body ------------------------------------------------------------------------------------*/
body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .03rem;
}
.list{
	list-style: none;
}
/* HEADER ================================================================================= */
/* logo ------------------------------------------------------------------------------------*/
.logo {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: .03rem;
	text-decoration: none;
}
.logo > span{
	color: var(--accent-color);
}

/* Nav & Contacts---------------------------------------------------------------------------*/
.nav-list,
.contacts{
	font-weight: 500;
	letter-spacing: .02rem;
}

.nav-list__link{
	color: var(--title-text-color);
	text-decoration: none;
}

.nav-list .current,
.nav-list__link:hover,
.nav-list__link:focus {
	color: var(--accent-color);
}

.contacts__link{
	color: var(--primary-text-color);
	text-decoration: none;
}
/* MAIN =================================================================================== */
.main-section {
}
.main-section__title {
}
.main-section__button {
}
.benefits {
}

.benefits-list {
}
.benefits-list-item {
}
.benefits-list-item__image {
}
.benefits-list-item__title {
}
.benefits-list-item__text {
}
.examples {
}
.examples-title {
}
.examples-list {
}
.examples-list-item {
}
.examples-list-item__image {
}
.examples-list-item__title {
}
.team {
}
.team-title {
}
.team-list {
}
.team-list-item {
}
.team-list-item__image {
}
.team-list-item__title {
}
.team-list-item__text {
}
.social-list {
}
.social-list-item {
}
.social-list-item__link {
}
.clients {
}
.clients-title {
}
.clients-list {
}
.clients-list-item {
}
.clients-list-item__link {
}
/* FOOTER ==================================================================================*/
.footer{
	background-color: var(--footer-bg-color);
}
/* logo ------------------------------------------------------------------------------------*/
.logo {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: .03rem;
	text-decoration: none;
	font-style: normal;
}
.logo > span{
	color: var(--accent-color);
}
.footer-logo{
	color: #ffffff;
}
/* Adress ----------------------------------------------------------------------------------*/
.address-list {
	line-height: 1.7;
	font-style: normal;
}
.address-list__street {
	color: #ffffff;
}
.address-list__mail,
.address-list__tel {
	color: rgba(255, 255, 255, .6);
	text-decoration: none;
}
/* Social & Subscribe-----------------------------------------------------------------------*/
.social-title,
.subscribe-title{
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	font-style: normal;
}
